#root {
  max-width: 1280px;
  margin: 0 auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  --blue: #0000FF;
}

body {
  cursor: url('../assets/xivcursor3.svg') 10 10, auto;
}

button {
  cursor: url('../assets/xivcursor3.svg') 10 10, auto;
}


.eurostar {
  font-family: "eurostar";
  font-weight: bold;
}

.trump {
  font-family: "trump";
  display: inline-block;
  -webkit-transform: scale(1.5, 1);
  -moz-transform: scale(1.5, 1);
  -ms-transform: scale(1.5, 1);
  -o-transform: scale(1.5, 1);
  transform: scale(1.5, 1);
  transform-origin: left;
}

.main {
  display:flex;
  flex-direction: row;
  position:absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  width: 100%;
  min-height: 1px;
  width: fit-content;
  padding-top: 5vh;
  font-size: 1vw;
}

.left {
  position: relative;
  width: 30%;
  min-height: 1px;
}

.right {
  position: relative;
  width: 30%;
  min-height: 1px;
}

.center {
  display: inline-block;
  width: 40%;
  min-height: 1px;
}

.center-vertical {
  align-items: center;
}

.no-line-height {
  line-height: 0px;
}

.blue-border {
  text-shadow: 0 0 1px rgba(0,0,255,1);
}

.green-border {
  text-shadow: 0 0 1px rgba(0,255,0,1);
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.blue-background {
  background-color: #17515f;
  width: 100%;
  height: 100%;
  position: fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
}

.loading-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-text {
  font-size: 2vw;

}