.right-column {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.right-column .row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.right-column .icon {
    color: white;
}

.right-column .icon svg {
    font-size: 2rem;
}

.right-column .line {
    margin: 0;
    width: 100%;
    border: none;
    height: 0.1rem;
    background-color: #ffffff;
}

.right-column .select-rows {
    line-height:2rem;
    text-align: left;
}

.right-column .select-rows a {
    text-align: left;
}