.column {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3rem;
    width: 30%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.icon {
    color: white;
}

.icon svg {
    font-size: 2rem;
}

.line {
    margin: 0;
    width: 100%;
    border: none;
    height: 0.1rem;
    background-color: #ffffff;
}