.round-button {
    width: 100%;
    height: 70%;
}

.round-button button {
    border-radius: 5vw;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    color: white;
    border-color: white;
    border-width: 0.2vw;
    height: 100%;
    width: 100%;
}
    .round-button button:hover {
        color: white;
        border-color: white;
    }
    .round-button button:focus {
        color: white;
        border-color: white;
        outline: none;
    }
